/* * {
    color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
.n_main {
    padding: 0;
    margin: 0;
    width: 100%;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.193);
    height: 100vh;
}

.logo {
    color: rgb(0, 0, 0);
    font-family: 'Vidaloka', serif;
    text-align: center;
    width: 100%;
    padding: 20px 0px 0px 0px;
}

#logo {
    text-decoration: none;
} */


/* .logo:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    transition: 0.25s;
} */


/* .main:hover {
    background-color: white;
    transition: 0.7s;
    color: black;
} */


/* .main:hover .logo {
    color: black;
} */


/* .main>.nav-item>.nav-link {
    color: black;
}

.form-control {
    background-color: transparent;
}

.btn {
    background-color: black;
    color: white;
}

.center {
    color: rgb(4, 4, 4);
    position: relative;
    top: 130px;
    text-align: center;
}

.center>h2 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 4px;
}

.center>h3 {
    letter-spacing: 4px;
    font-weight: 300;
}

#search_section>span {
    color: rgb(4, 4, 4);
}

#search_section>#search {
    background-color: transparent;
}

#search_section>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 20px;
}

.main:hover #search_section>a {
    color: black;
}

#search::placeholder {
    color: rgb(0, 0, 0);
} */